<div class="talks">
  <h2>Recent Talks and Lectures</h2>
  {% if site.talks != blank -%}
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
    {%- assign talks = site.talks | sort: "date" | reverse -%}
    {% for item in talks %}
      <tr>
        <td class="date">{{ item.date | date: "%b, %Y" }}</td>
        <td class="announcement">
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
        </td>
      </tr>
    {%- endfor %}
    </table>
  </div>
{%- else -%}
  <p>No talks so far...</p>
{%- endif %}
</div>
